*,
*::after,
*::before {
  box-sizing: border-box;
}

.fixed-wrap {
  color: blue;
  font-size: 30px;
}

.fixed-left {
  position: fixed;
  left: 16px;
  top: 16px;
  z-index: 1;
}

.fixed-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
}

img {
  width: 100%;
  max-height: fit-content;
}

.box {
  display: block;
  padding: 40px;
  width: 400px;
  height: 400px;
  background-color: oklch(100% 0.00011 271.152);
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  transition: background 0.2s, box-shadow 0.2s, transform 0.1s,
    background-color 0.2s;
  cursor: pointer;
}

.primary {
  background-color: oklch(0.65 0.1 250);
}

.primary:hover {
  background-color: oklch(0.45 0.1 250);
}

.outline {
  border: 2px solid oklch(0.5 0.1 250);
  color: oklch(0.5 0.1 250);
}

.outline:hover {
  background-color: oklch(0.5 0.1 250);
  color: white;
}

.danger {
  background-color: red;
  color: white;
}

.danger:hover {
  background-color: rgb(136, 6, 6);
}

.shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.shadow:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}

.round {
  border-radius: 50px;
  background-color: rgb(161, 211, 255);
}

.round:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.gradient {
  background: linear-gradient(
    90deg,
    oklch(93.272% 0.03494 244.279),
    oklch(0.5 0.25 250)
  );
}
