@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
  color: white;
  margin: 50px;
  padding: 50px;
  font-size: 500%;
}

.line {
  height: 2px;
  background-color: white;
  width: 90%;
  margin-inline: auto;
}

body {
  background-color: #0600ab;
  font-family: 'Jua', sans-serif;
  font-size: 150%;
}

.pw {
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  margin-top: 50px;
  border-radius: 30px;
}

.content {
  background-color: white;
  margin: 50px;
  padding: 50px;
  border-radius: 30px;
}
